@import "../../styles/base/variables";
@import "~bootstrap/scss/bootstrap-grid";

.header {
  background-color: $white !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: 0 0 6px 0 hsla(0, 0, 0, 0.2);

  img {
    max-height: 30px;
  }

  .navigation-link{
    color: $secondary-text-color;
    padding: 1rem 1rem;
    &:hover, &.active {
      color: $primary-text-color;
    }
    &.active{
      border-bottom: solid 2px $primary;
    }
  }
}
