@import "../../styles/base/variables";
@import "~bootstrap/scss/bootstrap-grid";

.header {
  background-color: $white;
  /**
  * @todo Remove important
   */
  border: none !important;
  padding: 0 !important;

  .header-container {
    border-bottom: solid 1px $light;
  }

  img {
    max-height: 30px;
  }

  .navigation-link{
    font-weight: bold;
    color: $secondary-text-color;
    padding: 1rem 1rem;
    &:hover, &.active {
      color: $primary-text-color;
    }
    &.active{
      border-bottom: solid 2px $primary;
    }
  }

  @include media-breakpoint-up(md){
    .push-right {
      margin-left: 100px;
    }
  }
}
