$primary: #2fb5ae;
$dark-primary: #207e79;
$secondary: #adb5bd;
$success: #02b875;
$info: #abddd9;
$warning: #edb956;
$danger: #e14a41;
$light: #b4b4b4;
$light-grey: #F1F3F5;
$dark: #696969;
$white: #fff;
$primary-text-color: #3a3a3c;
$secondary-text-color: #696969;

@import "~bootswatch/dist/litera/variables";
