$primary:       #2fb5ae;
$secondary:     #adb5bd;
$success:       #02B875;
$info:          #abddd9;
$warning:       #edb956;
$danger:        #e14a41;
$light:         #b4b4b4;
$dark:          #696969;
